/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* ===== NAVBAR ===== */
  .navbar {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    align-items: center;
    padding: 15px 30px;
    background-color: black;
  }
  
  /* ===== LOGO ===== */
  .logo {
    color: pink;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;


  }
  
  /* ===== NAV LINKS ===== */
  .nav-links {
    list-style: none;
    display: flex;
    gap: 5px;
    
  }
  
  /* ===== LINKS STYLE ===== */
  .nav-links a {
    text-decoration: none;
    color: pink;
    font-size: 16px;
    padding: 10px 15px;      /* space inside box */
    border: 2px solid pink;  /* outline */
    border-radius: 10px;     /* rounded corners */
      transition: 0.3s;
  }
  
  /* ===== HOVER EFFECT ===== */
  .nav-links a:hover {
    color: pink;
  }



  /* dropdown container */
.dropdown {
  position: relative;
}

/* hidden by default */
.dropdown-menu {
  position: absolute;
  top: 40px;
  left: 0;
  background: white;
  list-style: none;
  padding: 10px 0;
  width: 150px;
  border-radius: 8px;

  display: none; /* KEY */
}

/* links inside */
.dropdown-menu li {
  padding: 10px;
  text-align: center;
}

/* show when active */
.dropdown-menu.show {
  display: block;
}
